%p#notice= notice

.fixed
  %nav.top-bar{data: {topbar: true}, role: "navigation"}
    %ul.title-area
      %h3
        %a#title-text{href: root_path} AHU E-Library
    %section.top-bar-section
      %ul.right
        %li.has-form
          .row.collapse
            .large-8.small-9.columns
              %input{type: "text", placeholder: "..."}
            .large-4.small-3.columns
              %a.alert.button.expand{href:"#"}Search

%br
%br


%table{summary: "Resources for Researchers and Students of Knowledge",
       style: "margin-left:auto;margin-right:auto"}
  %thead
    %th Title
    %th Author
    %th Info
  %tbody
    - @documents.each do |document|
      %tr
        %td= link_to document.file_title, document.file_location
        %td= document.author
        %td= link_to 'More Info', document




%br/
= paginate @documents
= link_to 'New Document', new_document_path

