<p id="notice"><%= notice %></p>

<p>
  <strong>File title:</strong>
  <%= @document.file_title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @document.author %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @document.categories %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
